{% load static %}
<table class="brands_table">
    <th class="brands_th"></th>
    <th class="brands_th_pass"></th>
    <th class="brands_th"></th>
    <th class="brands_th_pass"></th>
    <th class="brands_th"></th>
    <th class="brands_th_pass"></th>
    <th class="brands_th"></th>
    <th class="brands_th_pass"></th>
    <th class="brands_th"></th>

    <tr class="brands_tr">
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
        <td></td>
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
        <td></td>
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
        <td></td>
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
        <td></td>
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
    </tr> 

    <tr class="brands_tr">
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
        <td></td>
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
        <td></td>
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
        <td></td>
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
        <td></td>
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
    </tr> 


</table>