{% load static %}

<div class="table_brands">
    {% for b in brands %}
        <div class="brands_elem">
            <div class="brands_name">{{ b.brand }}</div>
            <div class="brands_value">{{ b.count }}</div>
        </div> 
    {% endfor %}
</div>

<!-- <table class="brands_table">
    <th class="brands_th"></th>
    <th class="brands_th_pass"></th>
    <th class="brands_th"></th>
    <th class="brands_th_pass"></th>
    <th class="brands_th"></th>
    <th class="brands_th_pass"></th>
    <th class="brands_th"></th>
    <th class="brands_th_pass"></th>
    <th class="brands_th"></th>

    <tr class="brands_tr">
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
        <td></td>
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
        <td></td>
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
        <td></td>
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
        <td></td>
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
    </tr> 

    <tr class="brands_tr">
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
        <td></td>
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
        <td></td>
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
        <td></td>
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
        <td></td>
        <td> 
            <div class="brands_elem">
                <div class="brands_name">Бренд</div>
                <div class="brands_value">000</div>
            </div> 
        </td>
    </tr> 


</table> -->