{% load static %}
<div class="menu">
    <div class="header">
        <img src="{% static 'admin/images/hearderImg/logo.svg' %}">
        <div class="inputStyle">
            <div class="select">
                <select>
                    <option disabled>Поставщик</option>
                    <option value>Артикул</option>
                </select>
            </div>
            <input class="inputLine" type="text">

            <img src="{% static 'admin/images/hearderImg/search.svg' %}" class="bottomSearch">
        </div>

        <a style="visibility:hidden">
            ВОЙТИ
        </a>
    </div>
    <div class="bottomMenu">
        <br>
    </div>
</div>