<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'admin/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/provider-info.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/table-mistakes.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/left_menu.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/styleHeader.css'%}">
    <link rel="stylesheet" href="{% static 'admin/css/supplier.css'%}">
    <link rel="stylesheet" href="{% static 'admin/css/brands.css'%}">
    <link rel="stylesheet" href="{% static 'admin/css/new-settings.css'%}">
    <link rel="stylesheet" href="{% static 'admin/css/note.css'%}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
       {% include 'admin/header.html'%}
    </header>

    <main>
        {% include 'admin/left_menu.html' %}

        <div class="content">
            {% include 'admin/provider-info.html' %}