{% load static %}
<div class="back">
    <div class="new-settings-colums" style="margin-left: 5%;">
        <div class="first-colum">
            <div class="head-mardgin">
                <div class="head-settings">Название поставщика</div>
                <div class="two-colums">
                    <a>Телефоны</a>
                    <a><br></a>
                    <button class="btn" style="background: #C4C4C4;">Добавить</button>
                </div>

                <div class="three-colums">
                    <div class="search-settings">
                        <input type="text" placeholder="номер">
                    </div>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
                </div>

                <div >
                    {% include 'admin/template_settings.html' %}
                </div>

                <div class="two-colums">
                    <a>email-ы</a>
                    <a><br></a>
                    <button class="btn" style="background: #C4C4C4;">Добавить</button>
                </div>

                <div class="three-colums">
                    <div class="search-settings">
                        <input type="text" placeholder="email">
                       
                    </div>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
                </div>

                <div >
                    {% include 'admin/template_settings.html' %}
                </div>

                <div class="two-colums">
                    <a>Заметка</a>
                    <a><br></a>
                    <button class="btn" style="background: #C4C4C4;">Добавить</button>
                </div>

                <div >
                    {% include 'admin/template_settings.html' %}
                </div>

                <div class="two-colums">
                    <a>Контактные лица</a>
                    <a><br></a>
                    <button class="btn" style="background: #C4C4C4;">Добавить</button>
                </div>

                <div class="three-colums">
                    <div class="search-settings">
                        <input type="text" placeholder="Иванов И.И.">
                        
                    </div>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
                </div>

                <div >
                    {% include 'admin/template_settings.html' %}
                </div>

                <div class="two-colums">
                    <a>Адреса</a>
                    <a><br></a>
                    <button class="btn" style="background: #C4C4C4;">Добавить</button>
                </div>

                <div class="three-colums">
                    <div class="search-settings">
                        <input type="text" placeholder="Иванов И.И.">
                        
                    </div>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
                </div>

                <div >
                    {% include 'admin/template_settings.html' %}
                </div>
            </div>
            <div>
                <br>
                <br>
            </div>
        </div>
        
        <div class="second-colum">
            <div class="head-mardgin">
                <div class="head-settings">Конфигурация</div>
            </div>    
                <div class="text-margin">
                    Почта для приёма
                </div>
                <div class="three-colums">
                    <div class="search-settings">
                        <input type="text" placeholder="Название">
                        
                    </div>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
                </div>
                <div >
                    {% include 'admin/template_settings.html' %}
                </div>
                <div class="text-margin">
                    Название файла
                </div>
                
                <div class="three-colums">
                    <div class="search-settings">
                        <input type="text" placeholder="Название">
                        
                    </div>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
                </div>

                <div class="text-margin">
                    Название поля "Бренд"
                </div>
                <div class="three-colums">
                    <div class="search-settings">
                        <input type="text" placeholder="Название">
                        
                    </div>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
                </div>
                <div class="text-margin">
                    Название поля "Цена"
                </div>
                <div class="three-colums">
                    <div class="search-settings">
                        <input type="text" placeholder="Название">
                        
                    </div>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
                </div>
                <div class="text-margin">
                    Название поля "Артикул"
                </div>
                <div class="three-colums">
                    <div class="search-settings">
                        <input type="text" placeholder="Название">
                        
                    </div>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
                </div>
                <div class="text-margin">
                    Название поля "Наличие"
                </div>
                <div class="three-colums">
                    <div class="search-settings">
                        <input type="text" placeholder="Название">
                        
                    </div>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
                </div>
                <div class="text-margin">
                    Название поля "Описание"
                </div>
                <div class="three-colums">
                    <div class="search-settings">
                        <input type="text" placeholder="Название">
                        
                    </div>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                    <button class="btn_copy_setting"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
                </div>
                <div class="text-margin">
                    Частота приема
                </div>
                <div class="select-style"> 
                    <div class="select-settings">
                        <select>
                            <option disabled>Раз в день</option>
                            <option value>Раз в недделю</option>
                        </select>
                    </div>
                </div>
                <div class="text-margin">
                    Исключить
                </div>
                <div class="write-colums">
                    <div class="search-settings">
                        <input type="text" placeholder="Бренд">
                    </div>
                    <div><br></div>
                    <div class="search-settings">
                        <input type="text" placeholder="Артикул">
                    </div>
                    <div>
                        <button class="btn_copy_setting" style="margin: 5px;"><img width="20" height="20" src="{% static 'admin/images/add.svg' %}"></img> </button>
                    </div>    
                </div>
                <div class="text-margin">
                    Уже исключенные
                </div>
        </div>
    </div>
</div>