{% load static %}
<div class="note_back">
    <div class="sub_back">

    <div class="note_title">
        <div note_title_left>
            Заметка
            <img class="add" src="{% static 'admin/images/add.svg' %}" alt="loop"> 
        </div>
        <button id="close_note"class="note_close"> <img class="add" src="{% static 'admin/images/close.svg' %}" alt="loop"></button>
    </div>

    <div class="note">
        ТекстТекстТекстТекстТекстТекстТекст
        <img class="garbage" src="{% static 'admin/images/garbage.svg' %}" alt="loop">
    </div>

    </div>
</div>