{% load static %}

<div class="background-panel">
    <div>
        <p class="provider-name">Название<br>поставщика</br></p>
        <div class="btn_wrap">
            <button class="btn">Заметка</button>
            <button class="btn">Настройки</button>
        </div>
    </div>

    <div class="notification"></div>

    <div class="prov_info">
        Адреса
        <div class="info_element">
            Г. Москва, ул. Улица,офис 3, кв5
            <div class="btn_wrap">
                <button class="btn_copy"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                <button class="btn_copy"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
            </div>
        </div>
    </div>
    <div class="prov_info">
        Телефон
        <div class="info_element">
            89999999999
            <div class="btn_wrap">
                <button class="btn_copy"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                <button class="btn_copy"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
            </div>
        </div>
    </div>
    <div class="prov_info">
        email
        <div class="info_element">
            emai@email.ru
            <div class="btn_wrap">
                <button class="btn_copy"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                <button class="btn_copy"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
            </div>
        </div>
    </div>
    <div class="prov_info">
        Контактные лица
        <div class="info_element">
            emai@email.ru
            <div class="btn_wrap">
                <button class="btn_copy"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                <button class="btn_copy"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
            </div>
        </div>
    </div>
</div>