{% load static %}

<div class="background-panel">
    <div>
        <p class="provider-name">{{ provider.name }}</p>
        <div class="btns">
            <button class="btn">Заметка</button>
            <button class="btn">Настройки</button>
        </div>
    </div>

    <div class="notification"><img class="notification" src="{% static 'admin/images/notify.svg' %}" alt="loop"></div>

    <div class="prov_info">
        Адреса
        <div class="info_element">
            {{ provider.address }}
            <div class="btns">
                <button class="btn_copy"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                <button class="btn_copy"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
            </div>
        </div>
        <div class="btn_still">Еще</div>
    </div>
    <div class="prov_info">
        Телефон
        <div class="info_element">
            {{ provider.phone }}
            <div class="btns">
                <button class="btn_copy"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                <button class="btn_copy"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
            </div>
        </div>
        <div class="btn_still">Еще</div>
    </div>
    <div class="prov_info">
        email
        <div class="info_element">
            {{ provider.email }}
            <div class="btns">
                <button class="btn_copy"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                <button class="btn_copy"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
            </div>
        </div>
        <div class="btn_still">Еще</div>
    </div>
    <div class="prov_info">
        Контактные лица
        <div class="info_element">
            {{ provider.email_contacts }}
            <div class="btns">
                <button class="btn_copy"><img width="20" height="20" src="{% static 'admin/images/copy.svg' %}"></img> </button>
                <button class="btn_copy"><img width="20" height="20" src="{% static 'admin/images/garbage.svg' %}"></img> </button>
            </div>
        </div>
        <div class="btn_still">Еще</div>
    </div>
</div>