<!-- Никита -->
<table>

    <tr>
        {% load static %}
        <th class="table_title">А<img src="{% static 'admin/images/down_arrow.svg' %}"></img></th>
        <th class="table_title">Бренд</th>
        <th class="table_title">Номер строки</th>
        <th class="table_title">Артикул</th>
        <th class="table_title">Цена</th>
        <th class="table_title">Количество</th>
        <th class="table_title">Опсиание</th>
        <th class="table_title">Письмо</th>
    </tr> <!--ряд с ячейками заголовков-->

    <tr>
        <td>
            <label class="custom-checkbox custom-checkbox__margin"> <input type="checkbox" value="value-1"><span></span></label>
            <img class="delete_all" src="{% static 'admin/images/garbage.svg' %}"></img>            
        </td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr> <!--ряд с ячейками тела таблицы-->

    <tr>
        <td>
            <label class="custom-checkbox"> <input type="checkbox" value="value-1"><span></span></label>
        </td>
        <td>Название Бренда</td>
        <td>10</td>
        <td>990E076J20000</td>
        <td>000 000₽</td>
        <td>1</td>
        <td>Описание<img src="{% static 'admin/images/down_arrow.svg' %}"></img></td>
        <td>Хз пока</td>
    </tr>

    <tr>
        <td>
            <label class="custom-checkbox"> <input type="checkbox" value="value-1"><span></span></label>
        </td>
        <td>Название Бренда</td>
        <td>10</td>
        <td>990E076J20000</td>
        <td>000 000₽</td>
        <td>1</td>
        <td>Описание<img src="{% static 'admin/images/down_arrow.svg' %}"></img></td>
        <td>Хз пока</td>
    </tr>

    <tr>
        <td>
            <label class="custom-checkbox"> <input type="checkbox" value="value-1"><span></span></label>
        </td>
        <td>Название Бренда</td>
        <td>10</td>
        <td>990E076J20000</td>
        <td>000 000₽</td>
        <td>1</td>
        <td>Описание<img src="{% static 'admin/images/down_arrow.svg' %}"></img></td>
        <td>Хз пока</td>
    </tr>

    </table>