<!-- Никита -->




<table class="mistakes_table">

    <tr class="mistakes_tr">
        {% load static %}
        <th class="mistakes_th">А<img src="{% static 'admin/images/down_arrow.svg' %}"></img></th>
        <th class="mistakes_th">Бренд</th>
        <th class="mistakes_th">Номер строки</th>
        <th class="mistakes_th">Артикул</th>
        <th class="mistakes_th">Цена</th>
        <th class="mistakes_th">Количество</th>
        <th class="mistakes_th">Опсиание</th>
        <th class="mistakes_th">Письмо</th>
    </tr> <!--ряд с ячейками заголовков-->

    <tr class="mistakes_tr">
        <td class="mistakes_td">
            <div class="ar">
            <label class="custom-checkbox custom-checkbox__margin"> <input type="checkbox" value="value-1"><span></span></label>
            <img class="delete_all" src="{% static 'admin/images/garbage.svg' %}"></img>            
        </div>
        </td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr> <!--ряд с ячейками тела таблицы-->

    {% for i in table %}
    <tr class="mistakes_tr">
        <td class="mistakes_td">
            <label class="custom-checkbox"> <input type="checkbox" value="value-1"><span></span></label>
        </td>
        <td class="mistakes_td">{{ i.brand }}</td>
        <td class="mistakes_td">{{ i.number_string }}</td>
        <td class="mistakes_td">{{ i.vendor_code }}</td>
        <td class="mistakes_td">{{ i.price }}</td>
        <td class="mistakes_td">{{ i.availability }}</td>
        <td class="mistakes_td">{{ i.description }}</td>
        <td class="mistakes_td">Кнопка</td>
    </tr>
    {% endfor %}
    </table>