<!-- Никита -->
<table class="mistakes_table">

    <tr class="mistakes_tr">
        {% load static %}
        <th class="mistakes_th">А<img src="{% static 'admin/images/down_arrow.svg' %}"></img></th>
        <th class="mistakes_th">Бренд</th>
        <th class="mistakes_th">Номер строки</th>
        <th class="mistakes_th">Артикул</th>
        <th class="mistakes_th">Цена</th>
        <th class="mistakes_th">Количество</th>
        <th class="mistakes_th">Опсиание</th>
        <th class="mistakes_th">Письмо</th>
    </tr> <!--ряд с ячейками заголовков-->

    <tr class="mistakes_tr">
        <td class="mistakes_td">
            <label class="custom-checkbox custom-checkbox__margin"> <input type="checkbox" value="value-1"><span></span></label>
            <img class="delete_all" src="{% static 'admin/images/garbage.svg' %}"></img>            
        </td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr> <!--ряд с ячейками тела таблицы-->

    <tr class="mistakes_tr">
        <td class="mistakes_td">
            <label class="custom-checkbox"> <input type="checkbox" value="value-1"><span></span></label>
        </td>
        <td class="mistakes_td">Название Бренда</td>
        <td class="mistakes_td">10</td>
        <td class="mistakes_td">990E076J20000</td>
        <td class="mistakes_td">000 000₽</td>
        <td class="mistakes_td">1</td>
        <td class="mistakes_td">Описание<img src="{% static 'admin/images/down_arrow.svg' %}"></img></td>
        <td class="mistakes_td">Хз пока</td>
    </tr>

    <tr class="mistakes_tr">
        <td class="mistakes_td">
            <label class="custom-checkbox"> <input type="checkbox" value="value-1"><span></span></label>
        </td>
        <td class="mistakes_td">Название Бренда</td>
        <td class="mistakes_td">10</td>
        <td class="mistakes_td">990E076J20000</td>
        <td class="mistakes_td">000 000₽</td>
        <td class="mistakes_td">1</td>
        <td class="mistakes_td">Описание<img src="{% static 'admin/images/down_arrow.svg' %}"></img></td>
        <td class="mistakes_td">Хз пока</td>
    </tr>

    <tr class="mistakes_tr">
        <td class="mistakes_td">
            <label class="custom-checkbox"> <input type="checkbox" value="value-1"><span></span></label>
        </td>
        <td class="mistakes_td">Название Бренда</td>
        <td class="mistakes_td">10</td>
        <td class="mistakes_td">990E076J20000</td>
        <td class="mistakes_td">000 000₽</td>
        <td class="mistakes_td">1</td>
        <td class="mistakes_td">Описание<img src="{% static 'admin/images/down_arrow.svg' %}"></img></td>
        <td class="mistakes_td">Хз пока</td>
    </tr>

    </table>