.item {
    display: flex;
    align-items: center;
    padding: 3px 7px;
    cursor: pointer;
    border-radius: 4px;
}

.item:hover {
    background-color: #fff4ff;
}

.item.active {
    background-color: #FFE6FF;
}

.name {
    padding-left: 7px;
}