@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12pt;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #F7FAFF;
    min-width: 100vw;
    min-height: 100%;
}

@media (max-width: 1050px) {
    html {
        font-size: 11pt;
    }
}

@media (max-width: 1010px) {
    html {
        font-size: 10pt;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 9pt;
    }
}

@media (max-width: 950px) {
    html {
        font-size: 8pt;
    }
}