
.left_menu {
    background-color: #C4C4C4;
    padding: 10px 7px 10px 9px;
}

.left_menu > :nth-child(n):not(:last-child) {
    margin-bottom: 4px;
}

.left_menu_search {
    display: flex;
}

.left_menu_search input {
    outline: none;
    border: none;
    text-align: center;
}

.left_menu_search img {
    cursor: pointer;
    background-color: black;
}

.tools {
    display: flex;
    justify-content: space-between;
    height: 20px;
    background: #8D91A5;
    padding-left: 6px;
    padding-right: 6px;
}
.tools>:nth-child(n){
    cursor: pointer;
    margin-top: 2px;
}
.img_bottom_bar{
    width: 16px;
    height: 16px;
    border-radius: 20%;
}
.img_bottom_bar_sort{
    width: 24px;
    height: 16px;
    border-radius: 10%;
}

