.left_menu {
    background-color: #C4C4C4;
    padding: 10px 7px 10px 9px;
}

.left_menu > :nth-child(n):not(:last-child) {
    margin-bottom: 4px;
}

.left_menu_search {
    display: flex;
}

.left_menu_search input {
    outline: none;
    border: none;
    text-align: center;
}

.left_menu_search img {
    cursor: pointer;
    background-color: black;
}

.tools {
    background: #8D91A5;
}
