* {
    padding: 0;
    margin: 0;
}


html {
    font-size: 12pt;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
}