.background-panel {
	display: flex;
	flex-direction: row;
	width: 830px;
	height: 70px;
	background: #C4C4C4;
	margin-left: 16px;
	padding-left: 8px;
	padding-top: 8px;
	border-radius: 0 0 10px 10px;
}
.provider-name{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
}

.btns {
	display: flex;
	flex-direction: row;
	margin-top: 4px;
}

.btns > :first-child {
	margin-right: 8px;
}

.btn{
	font-family: Roboto;
	font-style: normal;
	font-size: 0.8rem;
	width: 90px;
	height: 18px;
	color: black;
	border: none;
	outline: none;
	background-color: white;
	cursor: pointer;
	margin-top: 10px;
}
.btn:active{
	background-color: black;
	color: white;
}

.notification{
	width: 24px;
	height: 24px;
	border-radius: 4px;
	background-color: white;
}
.prov_info{
	display: flex;
	flex-direction: column;
	width: 220px;
	height: 60px;
	background-color: #6D7189;
	margin-left: 14px;
	border-radius: 4px;
	font-family: Roboto;
	font-style: normal;
	font-size: 0.8rem;
	text-align: center;
}
.background-panel>:last-child{
	margin-right: 14px;
}
.info_element{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left:5px;
	font-family: Roboto;
	font-style: normal;
	font-size: 0.6rem;
	text-align: left;
}

.info_element > :nth-child(n) {
	margin-right: 5px;
}

.btn_wrap {
	display: flex;
}

.btn_copy:first-child {
	margin-right: 5px;
}

.btn_copy{
	background-color: #C590EF;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn_copy,
.btn_copy img {
	border-radius: 100%;
	width: 16px;
	height: 16px;
}

.btn_still{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 14px;
	background-color: white;
	font-family: Roboto;
	font-style: normal;
	font-size: 0.75rem;
	text-align: center;
	margin: auto;
	margin-top: 6px;
	border-radius: 10px;
}
.btn_still:hover{
	cursor: pointer;
}
.btn_still:active{
	background-color: black;
	color:white;
}